.portfolio {
  padding: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.portfolio-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio-header h2 {
  margin: 0;
  font-size: 26px;
  color: #111827;
}

.portfolio-header p {
  margin-top: 6px;
  font-size: 14px;
  color: #6b7280;
}

.trade-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  border-radius: 10px;
  background: #2563eb;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.trade-btn span {
  font-size: 18px;
}

.overview-cards {
  margin-top: 24px;
  display: flex;
  gap: 20px;
}

.overview-card {
  flex: 1;
  background: #ffffff;
  border-radius: 16px;
  padding: 30px;
  /* border: 1px solid #eef2f7; */
  box-shadow: 0 0px 1px 1px rgba(0, 0, 0, 0.099);
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  font-size: 12px;
  letter-spacing: 0.6px;
  color: #9ca3af;
  text-transform: uppercase;
}

.card-icon {
  font-size: 20px;
  color: #9ca3af;
}

.overview-card h3 {
  margin: 16px 0 10px;
  font-size: 28px;
  color: #111827;
}

.overview-card h3.positive {
  color: #2563eb;
}

.card-sub {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 13px;
}

.sub-value {
  color: #16a34a;
  font-weight: 500;
}

.sub-text {
  color: #6b7280;
}
