
.navbar {
  height: 64px;
  padding: 0 24px;
  top: 0%;
  background: ghostwhite;
  width: 100%;
  /* border-bottom: 1px solid #e5e7eb; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LEFT */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  background: #2563eb;
  color: #ffffff;
  padding: 6px;
  border-radius: 8px;
  font-size: 20px;
}

.logo-text {
  font-weight: 600;
  font-size: 16px;
  color: #0f172a;
}

/* CENTER SEARCH */
.nav-center {
  flex: 1;
  max-width: 520px;
  margin: 0 40px;
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  color: #94a3b8;
  font-size: 20px;
}

.nav-center input {
  width: 100%;
  padding: 12px 14px 12px 42px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 15px 5px #c6c5c52d;
  background: #fff;
  font-size: 14px;
  outline: none;
}

.nav-center input:focus {
  background: #ffffff;
  border-color: #2563eb;
}

/* RIGHT */
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.icon-btn .material-icons {
  font-size: 22px;
  color: #475569;
}

.profile {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  text-align: right;
}

.profile-info .name {
  font-size: 14px;
  font-weight: 500;
  color: #0f172a;
}

.profile-info .role {
  font-size: 12px;
  color: #64748b;
}

.avatar {
  width: 36px;
  height: 36px;
  background: #2563eb;
  color: #ffffff;
  font-weight: 600;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
