.sidebar {
  width: 300px;
  /* height: 100vh; */
  /* background: linear-gradient(180deg, #0f172a, #020617); */
  background-color: ghostwhite;
  padding: 20px 16px;
  box-sizing: border-box;
  /* color: #cbd5e1; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.item {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 14px 14px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.item .material-icons {
  font-size: 20px;
  color: #94a3b8;
}

.item .text {
  font-size: 14px;
  font-weight: 500;
}

.item:hover {
  background: rgba(108, 108, 108, 0.06);

  .material-icons {
    color: #2563eb;
  }
}

a {
  text-decoration: none;
  color: black;
}

.item.active {
  /* background: rgba(87, 87, 87, 0.1); */
  background-color: #2563eb;
  color: #fff;

  .material-icons {
    color: #fff;
  }
}

.item.active .material-icons,
.item.active .text {
  /* color: #000; */
}

.divider {
  height: 1px;
  background: #94a3b8;
  margin: 20px 0;
}
