.stock-card {
  /* width: 320px; */
  background: #fff;
  border-radius: 14px;
  padding: 18px;
  box-shadow: 0 0px 1px 1px rgba(0, 0, 0, 0.099);
  font-family: system-ui, sans-serif;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stock-info {
  display: flex;
  gap: 12px;
  align-items: center;
}

.stock-logo {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #eef2ff;
  color: #4338ca;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.card-header h3 {
  margin: 0;
  font-size: 16px;
}

.card-header p {
  margin: 0;
  font-size: 13px;
  color: #6b7280;
}

.info-icon {
  color: #9ca3af;
  cursor: pointer;
}

.card-meta {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 20px 0;
  font-size: 12px;
  color: #6b7280;
}

.exchange {
  padding: 2px 8px;
  border-radius: 999px;
  background: #f3f4f6;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-footer h2 {
  margin: 0;
  font-size: 22px;
}

.positive {
  color: #16a34a;
  font-size: 13px;
}

.negative {
  color: #dc2626;
  font-size: 13px;
}

.add-btn {
  width: 38px;
  height: 38px;
  border-radius: 10px;
  border: none;
  background: #2563eb;
  color: white;
  cursor: pointer;
}
